
* {
    margin: 0;
}

.image {
    height: 400px;
     width: 470px;
}

@media only screen and (max-width: 600px) {
    .image {
       width: 350px;
       height: 250px;
       margin: 20px 0px !important;
      }
      .designer {
          margin: 0 !important;
      }
  }